@using Microsoft.AspNetCore.Components.Routing

<CascadingAuthenticationState>
  <Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
      @* Renders the page that matches the URL *@
      @* <FocusOnNavigate RouteData="routeData" Selector="h1" /> *@
      <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)">
        <NotAuthorized>
          <RedirectToLogin />
        </NotAuthorized>
      </AuthorizeRouteView>
    </Found>
    <NotFound>
      @* Content shown if no component matches the URL *@
      <PageTitle>Ikke fundet</PageTitle>
      <LayoutView Layout="typeof(Layout.MainLayout)">
        <p role="alert">Der er intet indhold på denne adresse.</p>
      </LayoutView>
    </NotFound>
  </Router>
</CascadingAuthenticationState>

