@inherits LayoutComponentBase

<header class="navbar navbar-expand-lg navbar-light bg-light">
  <AuthorizeView>
    <Authorized>
      <a class="navbar-brand" href="/admin">Admin Dashboard</a>
    </Authorized>
  </AuthorizeView>
</header>

<main class="container mt-4 flex-fill">
  <ErrorBoundary>
    <ChildContent>
      @Body
    </ChildContent>
    <ErrorContent>
      <div id="blazor-error-ui" class="alert alert-danger mt-4">
        <h5>An unhandled error has occurred.</h5>
        <p><b>Message:</b> @context.Message</p>
        <p><b>Stack Trace:</b></p>
        <pre style="white-space: pre-wrap;">@context.StackTrace</pre>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
      </div>
    </ErrorContent>
  </ErrorBoundary>

  <!-- Browser Refresh script for development hot reload -->
  <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</main>

<footer class="footer bg-light mt-auto">
  <div class="d-flex justify-content-between align-items-center w-100 px-3">
    <span title="Database forbindelse" class="fw-bold border-end">
      <span>🗄</span>
      @if (IsDbConnected)
      {
        <span style="color:green;font-size:1.2em;vertical-align:middle;">&#x1F7E2;</span>
      }
      else
      {
        <span style="color:red;font-size:1.2em;vertical-align:middle;">&#x1F534;</span>
      }
    </span>
    <span class="ps-3">
      &copy; 2026 - Team6
    </span>
  </div>
</footer>
