@* NotesSection.razor: Handles resident notes add/edit/delete/feedback UI and logic *@
@using Domain.Entities

<div class="row">
    <div class="d-flex justify-content-between align-items-center mb-1">
        <strong class="small">Noter</strong>
        
    </div>

    @{
        ResidentNote? latestNote = Notes?
            .OrderByDescending(n => n.EditedAt)
            .FirstOrDefault();
    }

    @if (latestNote is null)
    {
        
            <p class="mb-0 mb-0"> Ingen noter</p>
    }
    else
    {
        <div class="row">
            <p class ="mb-0 mb-0">@latestNote.Note</p>
        </div>
        <div class="row">
            <p class="text-muted text-end">@latestNote.EditedAt.ToString("HH:mm dd-MM-yyyy")</p>
        </div>
    }

</div>


