@*UC001 - Resident card shown for a quick status overview - stick to GDPR rules!*@
@*UC001 Task - Low Fi prototype for first iteration of resident card*@
@*UC002 - Full notes management added*@
@* UC003 - Medicine and painkiller status overview added *@

@using Domain.Entities
@using Domain.Enums





            <article class="card h-100 w-100 resident-card">
                <header class="card-header @GetTrafficLightClass(Resident.TrafficLightStatus) flex-fill">
                    <h5 class="card-title">@Resident.Initials</h5>
            <span class="badge bg-success position-absolute top-0 end-0 m-0 px-4 col-auto">PN-Tid: @GetPainkillerCountdownText()</span>
                </header>
                <section class="card-body">

                    <div class="col">
                        <table class="table table-sm resident-table mb-1">
                            <thead>
                                <tr>
                                    <th scope="col">Aktivitet </th>
                                    <th scope="col">Ledsager</th>
                                    <th scope="col">Beløb</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr scope="row">
                                    <td>Handle</td>
                                    <td>👤</td>
                                    <td>300kr</td>
                                </tr>
                                <tr>
                                    <th scope="row">Info</th>
                                    <td colspan="2">Eget kort</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    @* UC003 - Medicine and painkiller status section *@
                    <div class="row">

                        @* Medicine Section *@
                        <MedicineStatus MedicineStatusData="_medicineStatus" />

                        @* Painkiller Section *@
                        
                    </div>

                    @* UC002 - Notes section *@
                    <div class="row">
                        <NotesSection Resident="Resident" Notes="Resident.Notes.ToList()" />
                    </div>

                </section>
            </article>



